@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.sidebar-active {
  @apply !bg-[#394452] rounded-md;
}
